<div class="containerVerifyEmail">
  <div class="bodyForm rainbow">
    <img src="../../../assets/images/verifyemail.webp" alt="">
    <br>
    <h6>Se le ha enviado un email a su casilla de correo para verificar su cuenta</h6>
    <input class="showEmail" type="text" readonly value="userMail" [(ngModel)]="userMail">
    <br>
    <div class="alert alert-warning mt-3" role="alert">

      <i class="fa-sharp fa-solid fa-circle-info"></i>&nbsp;&nbsp; Es posible que el Email se almacene en la casilla de
      Spams
    </div>




  </div>
</div>
