.modal-content {
  background-color: #111010;
  border-radius: 0px !important;
  text-align: center;
  font-family: "Gamer4";
}
.modal-body {
  border: none !important;
}
.formChangePassword {
  width: 300px;
  text-align: center;
  margin: auto;
}
.formChangePassword input {
  height: 50px;
}
.formChangePassword label {
  font-size: 17px;
}
.btnSave {
  background-color: red;
  border-radius: 0px;
  color: white;
}
.btnClone {
  background-color: #222222;
  color: white;
}
