<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-6 text-center" id="exampleModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form  class="formChangePassword">

          <label for="LasPassword">Last Password</label>
          <input type="password" placeholder="Enter last password">
          <label for="LasPassword" >New Passowrd</label>
          <input type="password" placeholder="Enter new password">
          <label for="LasPassword" >Repeat New Password</label>
          <input type="password" placeholder="Repeat new password">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class=" btn btnClose" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btnSave">Save changes</button>
      </div>
    </div>
  </div>
</div>
